<h1>Eliminar Cliente</h1>
<h2>¿Estas Seguro de Eliminar este Cliente? <strong>{{cliente.nombre}}</strong>?</h2>
<a href="?confirmado=1" class="btn btn-danger">Esta Seguro de Eliminar a Este Cliente</a>